# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# temp file
*.ncb
*.aps
*.opt
*.plg
*.sbr
*.ilk
*.pdb
*.idb
*.bsc
*.res
*.htm
*.manifest
*.pch
*.dep
*.suo
*.tlog

# useless files
*.user
*.sdf
*.opensdf
